/*----------- Import google fonts -----------*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

/*------------- Reset browser default settings ------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------- Set font family ---------------*/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

/*----------------- Navbar elements --------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 16px 16px 0 16px;
}
.logo {
  width: 48px;
  height: 48px;
}
.logo img {
  width: 100%;
}
.navbar__btn button {
  border: none;
  background: #030303;
  color: #fff;
  padding: 8px 28px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.navbar__btn button:hover {
  background: #755cde;
}

/* ------------ Hero title ------------*/
.hero__title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  padding: 34px 16px 16px 16px;
  color: #030303;
}
.hero__text p {
  width: 285px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  color: #7a746e;
}

/*---------------- Image__container ---------------*/
.image__container {
  display: grid;
  place-items: center;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 100px;
}
.image_graphic {
  width: 343px;
  height: 364px;
  background: #755cde;
  border-radius: 8px;
  position: relative;
}
.image__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}
.image_ui-ux,
.image_app {
  width: 159px;
  height: 182px;
  background: #f6a560;
  border-radius: 8px;
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
}
.image_app {
  background: #f39e9e;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px 24px 0 0;
}
.image__text {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 24px 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.image_illustration,
.image_photography,
.image_motion {
  width: 343px;
  height: 158px;
  background: #eb7565;
  border-radius: 8px;
  position: relative;
}
.image_photography {
  background: #61c4b7;
}
.image_motion {
  background: #552049;
}

/*------------- Profile container ----------------*/
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.profile__image {
  width: 300px;
}
.profile__image img {
  width: 100%;
}
.profile__title h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  margin: 40px 24px;
  color: #030303;
}
.profile__text p {
  width: 343px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7a746e;
  margin: 0 auto;
}
.profile__btn button {
  border: none;
  background: #eb7565;
  color: #fff;
  padding: 8px 28px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  margin: 24px 0 100px 0;
  cursor: pointer;
  transition: background 0.2s ease;
}
.profile__btn button:hover {
  background: #f6a560;
}

/*----------------- Image slider ------------------*/
.image__slider_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image__slider_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #030303;
  margin-bottom: 32px;
}
.image__slider {
  display: flex;
  gap: 15px;
}
.image__slider img {
  width: 270px;
  border-radius: 10px;
  transition: 0.3s;
}
.arrows {
  width: 64px;
  height: 64px;
  margin: 32px auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrows img {
  margin-right: 16px;
  border-radius: 50%;
  background: #030303;
  padding: 24px;
  cursor: pointer;
  transition: background 200ms ease;
}
.arrows img:hover {
  background: #755cde;
}
.arrows img:last-child {
  margin-right: 0;
}

/*------------- Contact box -------------*/
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #030303;
  border-radius: 10px;
  padding: 49px 24px 48px 24px;
  margin: 0 16px;
}
.contact__title h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #fff7f0;
}
.contact__text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff7f0;
  margin: 24px 0;
}
.contact__btn button {
  border: none;
  background: #eb7565;
  color: #fff;
  padding: 8px 28px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.contact__btn button:hover {
  background: #f6a560;
}

/*-------------- Footer -------------*/
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 17px 32px 15px;
}
.footer__logo {
  width: 48px;
  height: 48px;
}
.footer__logo img {
  width: 100%;
}
.footer__btn button {
  border: none;
  background: #030303;
  color: #fff;
  padding: 8px 28px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.footer__btn button:hover {
  background: #755cde;
}

/*---------------------- Tablet Screen -------------------*/
@media (min-width: 768px) {
  /*----------- Navbar ------------*/
  .navbar {
    margin: 34px 39px 0 39px;
  }
  .logo {
    width: 64px;
    height: 64px;
  }
  .navbar__btn button {
    padding: 14px 45px;
    font-size: 16px;
  }

  /*--------------- Hero ------------*/
  .hero__title h1 {
    font-size: 44px;
    line-height: 55px;
  }
  .hero__text p {
    width: 573px;
    font-size: 18px;
    line-height: 28px;
  }

  /*------------- Image boxes -----------*/
  .image__container {
    margin-top: 64px;
    grid-template-columns: 333px 333px;
    padding: 0 39px;
    justify-content: center;
  }
  .image_graphic {
    width: 333px;
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .image__wrapper {
    grid-column: 2;
  }
  .image_illustration {
    grid-column: 2;
    width: 333px;
  }
  .image_ui-ux,
  .image_app {
    width: 155px;
    margin: 0;
  }
  .image_ui-ux {
    margin-left: 23px;
  }
  .image_app {
    margin-right: 23px;
  }
  .image_photography {
    width: 333px;
  }
  .image_motion {
    width: 333px;
  }
  /*-------------------- Profile ----------------*/
  .profile__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile__image {
    width: 364px;
    transform: translateX(-12%);
  }
  .profile__wrapper {
    width: 339px;
    margin-right: 40px;
  }
  .profile__title h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    margin: 0;
  }
  .profile__text p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    margin: 24px auto;
  }
  .profile__btn {
    text-align: start;
  }
  .profile__btn button {
    margin: 0;
  }

  /*------------------ Image Slider --------------*/
  .image__slider_container {
    margin-top: 120px;
  }
  .image__slider {
    gap: 30px;
  }
  .image__slider img {
    width: 540px;
  }

  /*--------------- Contact -------------*/
  .contact__box {
    margin: 0 39px;
  }
  .contact__title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .contact__text p {
    width: 540px;
    font-size: 18px;
    line-height: 28px;
    margin: 26px 0;
  }
  .contact__btn button {
    padding: 14px 45px;
    font-size: 16px;
  }

  /*-------------------- Footer ------------------*/
  .footer__container {
    margin: 56px 40px 56px 39px;
  }
  .footer__logo {
    width: 64px;
    height: 64px;
  }
  .footer__btn button {
    padding: 14px 45px;
    border-radius: 28px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .navbar {
    margin: 34px 165px 0 165px;
  }

  /*--------------- Hero ------------*/
  .hero__title h1 {
    font-size: 56px;
    line-height: 71px;
  }
  .hero__text p {
    width: 730px;
  }

  .image__container {
    margin-top: 80px;
    grid-template-columns: 354px 354px 354px;
    padding: 0 165px;
    justify-content: center;
  }
  .image_graphic {
    width: 354px;
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .image_illustration {
    grid-column: 2;
    width: 354px;
  }
  .image_ui-ux,
  .image_app {
    width: 164px;
    margin: 0;
  }
  .image_ui-ux {
    margin-left: 10px;
  }
  .image_app {
    margin-right: 10px;
  }
  .image_photography {
    width: 354px;
    grid-column: 3;
    grid-row: 1 / 2;
    height: 182px;
  }
  .image_motion {
    width: 354px;
    grid-column: 3;
  }
  .profile__image {
    width: 445px;
    transform: translateX(0%);
    margin-left: 165px;
  }
  .profile__wrapper {
    width: 540px;
    margin-right: 165px;
  }
  .profile__title h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .profile__text p {
    margin: 34px 0 32px 0;
  }
  .image__slider_container {
    margin-top: 88px;
  }

  /*--------------- Contact -------------*/
  .contact__box {
    margin: 0 165px;
    padding: 81px 0 80px 65px;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__title h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
  }
  .contact__text p {
    margin: 25px 0;
    text-align: left;
  }
  .contact__btn button {
    padding: 14px 45px;
    margin-right: 95px;
    font-size: 16px;
    grid-column: 2;
  }

  /*-------------------- Footer ------------------*/
  .footer__container {
    margin: 56px 164px 64px 165px;
  }
}
